.lanyard-wrapper {
    position: absolute;
    z-index: 10;
    width: 220%;
    height: 160%;
    top: -30%;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transform-origin: center;
}